@import "vars";
@import "bootstrap-5.3.0-alpha1/scss/bootstrap.scss";

.current {
  text-decoration-line: overline;
  text-decoration-thickness: auto;
}

.has-background {
  background-image: url('/assets/svg/noun-floral-bouquet-4636265.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
